h1,h2{
    color:rgb(255, 127, 180);
    text-align: center;
}
p{
    color: blueviolet;
    text-align:center;
}
.header{
    
    display:flex;
    justify-content: space-between;

}
.gride{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.icons{
    display:flex;
    justify-content: flex-end;
}
*{
    background:#D5FCFA;
}